<Page (loaded)="onLoaded()">
    <GridLayout rows="60, auto, *" columns="*, auto, *">
        <GridLayout row="0" col="0" colSpan="3" columns="*, auto, *" class="layout-bottom-border layout-colored">
            <Button col="0" text="ZPĚT" horizontalAlignment="left" class="header-text-component generic-text-component"
                    (tap)="back()"></Button>
            <Label col="1" #reservation text="REZERVACE" horizontalAlignment="center" verticalAlignment="center"
                   class="header-text-component generic-text-component"></Label>
            <Button col="2" text="ODHLÁSIT" horizontalAlignment="right"
                    class="header-text-component generic-text-component"
                    (tap)="logout()"></Button>
        </GridLayout>
        <SearchBar row="1" col="0" colSpan="3" id="searchBar" hint="Hledaný předmět"></SearchBar>
        <Label *ngIf="listLoaded" row="2" col="0" colSpan="3" [text]="pageMessage" textWrap="true"
               verticalAlignment="center" textAlignment="center" marginLeft="15" marginRight="15"
               horizontalAlignment="center"
               visibility="{{items.length > 0 ? 'hidden' : 'visible'}}"></Label>
        <RadListView *ngIf="listLoaded" row="2" col="0" colSpan="3" [items]="items" (itemTap)="onItemTap($event)"
                     visibility="{{items.length > 0 ? 'visible' : 'hidden'}}">
            <ng-template let-item="item">
                <GridLayout rows="{{item.expanded ? '70, *' : '70'}}" columns="*, auto, *"
                            backgroundColor="{{item.expanded ? '#BDD4DF' : 'white' }}">
                    <Label *ngIf="!item.photo" col="0" verticalAlignment="center" width="60" height="60"
                           horizontalAlignment="left" [text]="icons.photo" class="image-like-circular-label"></Label>
                    <Image *ngIf="item.photo" col="0" verticalAlignment="center" width="60" class="circular-list-image"
                           height="60" horizontalAlignment="left" [src]="item.photo" (tap)="onImageTap($event)"></Image>
                    <Label col="1" [text]="item.DisplayName" class="reservation-item-name"
                           textWrap="true"
                           horizontalAlignment="center" verticalAlignmnet="center"></Label>
                    <Label col="2" text="{{icons.check}}"
                           verticalAlignment="center" horizontalAlignment="right"
                           class="icon icon-item-left"></Label>
                    <Label col="2" text="{{item.expanded ? icons.caretDown : icons.caretLeft}}"
                           verticalAlignment="center" horizontalAlignment="right"
                           class="icon icon-item-rightmost"></Label>
                    <GridLayout row="1" col="0" colSpan="3" rows="*, *, *, *" backgroundColor="white"
                                visibility="{{item.expanded ? 'visible' : 'collapse'}}">
                        <Label row="0" verticalAlignment="center" horizontalAlignment="left" textWrap="true"
                               class="left-right-margin-list top-bot-margin-list"
                               text="{{'Město: ' + item.City}}"></Label>
                        <Label row="1" verticalAlignment="center" horizontalAlignment="left" textWrap="true"
                               class="left-right-margin-list bot-margin-list"
                               text="{{'Jednotka: ' + item.UnitWithRegistrationNumber}}"></Label>
                        <Label row="2" verticalAlignment="center" horizontalAlignment="left" textWrap="true"
                               class="left-right-margin-list bot-margin-list"
                               text="{{'Půjčovací cena: ' + item.RentPrice}}"></Label>
                        <Label row="3" verticalAlignment="center" horizontalAlignment="left" textWrap="true"
                               class="left-right-margin-list bot-margin-list"
                               text="{{'Poznámka k půjčení: ' + item.RentNote}}" textWrap="true"></Label>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
        <ActivityIndicator row="2" col="0" colSpan="3" class="scout-blue-color" [busy]="isLoading" height="50"
                           width="50"></ActivityIndicator>
        <GridLayout row="0" col="0" rowSpan="3" colSpan="3" [visibility]="photoInPopover.visibility"
                     (tap)="onDismissPhotoTap()" class="popover-image-container">
            <Image [src]="photoInPopover.photo" verticalAlignment="center" horizontalAlignment="center"
                   class="popover-image"></Image>
        </GridLayout>
    </GridLayout>
</Page>
