# IntelliJ
**/.idea/

# Logs and databases #
*.log
*.sql
*.sqlite

# Nativescript
*.js.map
app/**/*.js
hooks/
lib/
node_modules/
platforms/
tmp/
typings/
report/

#releaseKyes
warehouse_mobile_release_key.*
