/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
.left-right-spacing {
    margin-left: 30;
    margin-right: 30;
}
.generic-text-component {
    background-color: royalblue;
    color: white;
}
.layout-bottom-border {
    border-color: #aaaaaa;
    border-bottom-width: 1;
}
.layout-top-border {
    border-color: #aaaaaa;
    border-top-width: 1;
}
.layout-colored {
    background-color: royalblue;
}
.header-text-component {
    border-color: transparent;
    border-width: 1;
    font-size: 16;
    font-weight: bold;
}
.login-failed-container {
    background-color: red;
    height: 30;
}
.list-view-first-line {
    margin: 5, 5, 0, 10;
    font-weight: bold;
    font-size: 15;
}
.list-view-second-line {
    margin: 0, 0, 5, 15;
    font-size: 12;
}
